@model IEnumerable<Client>


<table class="table my-2 table-bordered table-striped table-sm border table-warning">
    <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Identity Number</th> 
        <th></th>
    </tr>
    @foreach (var i in Model)
     {
        <tr>
            <td> @i.Name </td>
            <td> @i.LastName </td>
            <td> @i.IdentityNumber </td>
            <td class="text-center">
                <form asp-action="Delete" method="post" >
                    <a asp-action="Edit" class="btn btn-sm btn-warning fa fa-pencil-alt" asp-route-ClientID="@i.ClientID"></a>   
                     <input type="hidden" name="ClientID" value="@i.ClientID" />
                     <button type="submit" class="btn btn-sm btn-danger fa fa-trash"></button>                    
                    </form>                
            </td>
        </tr>
     }
</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-primary"> 
        Add Client
    </a>
</div>